<section class="services" id="services">

    <div class="container text-center">


        <h2 class="display-5 fw-bold mb-5">
            Scopri KickOff
        </h2>



        <div class="row g-4 justify-content-center">



            <!-- Calcetto -->

            <div class="col-12 col-sm-6 col-md-4">


                <div class="card h-100 shadow rounded-4 overflow-hidden border-0 service-card">


                    <img 
                    src="assets/calcetto.png"
                    class="card-img-top"
                    alt="Campo calcetto">


                    <div class="card-body text-center">


                        <h3 class="card-title fw-bold">
                            Calcetto
                        </h3>


                        <p class="card-text">
                            Campi moderni per partite tra amici.
                        </p>


                    </div>


                </div>


            </div>





            <!-- Scuola calcio -->


             <div class="col-12 col-sm-6 col-md-4">


                <div class="card h-100 shadow rounded-4 overflow-hidden border-0 service-card">


                    <img 
                    src="assets/scuola-calcio.png"
                    class="card-img-top"
                    alt="Scuola calcio bambini">



                    <div class="card-body text-center">


                        <h3 class="card-title fw-bold">
                            Scuola Calcio
                        </h3>


                        <p class="card-text">
                            Corsi per bambini, tecnica e divertimento.
                        </p>


                    </div>


                </div>


            </div>





            <!-- Tornei -->


             <div class="col-12 col-sm-6 col-md-4">


                <div class="card h-100 shadow rounded-4 overflow-hidden border-0 service-card">


                    <img 
                    src="assets/tornei.png"
                    class="card-img-top"
                    alt="Tornei">


                    <div class="card-body text-center">


                        <h3 class="card-title fw-bold">

                            Tornei

                        </h3>


                        <p class="card-text">

                            Sfida altre squadre e vivi la competizione.

                        </p>


                    </div>


                </div>


            </div>



        </div>


    </div>


</section>