<section class="stats my-5 py-5 rounded-5">


    <div class="container">


        <div class="row text-center text-white align-items-center g-4">



            <div class="col-12 col-sm-6 col-md-4">

                <div class="stat">

                    <h2 class="display-3 fw-bold">
                        1h
                    </h2>

                    <p>
                         Durata partita
                    </p>

                </div>

            </div>





            <div class="col-12 col-sm-6 col-md-4">

                <div class="stat stat-border">

                    <h2 class="display-3 fw-bold">
                        3
                    </h2>

                    <p>
                        Campi disponibili
                    </p>

                </div>

            </div>





            <div class="col-12 col-sm-6 col-md-4">

                <div class="stat">

                    <h2 class="display-3 fw-bold">
                        7/7
                    </h2>

                    <p>
                        Giorni aperti
                    </p>

                </div>

            </div>



        </div>


    </div>


</section>