<section class="stats">

    <div class="container">

        <div class="stats-grid">


            <!-- DURATA -->

            <div class="stat">

                <div class="stat-value">
                    1h
                </div>

                <div class="stat-label">
                    Durata partita
                </div>

            </div>


            <!-- CAMPI -->

            <div class="stat stat-border">

                <div class="stat-value">
                    3
                </div>

                <div class="stat-label">
                    Campi disponibili
                </div>

            </div>


            <!-- GIORNI -->

            <div class="stat">

                <div class="stat-value">
                    7/7
                </div>

                <div class="stat-label">
                    Giorni aperti
                </div>

            </div>


        </div>

    </div>

</section>