<section class="why-kickoff py-5" id="why-kickoff">

    <div class="container text-center">


        <h2 class="display-5 fw-bold mb-5">
            Perché scegliere KickOff
        </h2>



        <div class="row g-4 justify-content-center">



            <!-- Prenotazione semplice -->

            <div class="col-12 col-sm-6 col-md-4">


                <div class="card advantage-card h-100 border-0 shadow rounded-4 p-4">


                    <div class="card-body">


                        <i class="fa-solid fa-bolt"></i>


                        <h3 class="fw-bold mt-4">
                            Prenotazione semplice
                        </h3>


                        <p>
                            Organizza la tua partita in pochi minuti.
                        </p>


                    </div>


                </div>


            </div>





            <!-- Campi qualità -->


            <div class="col-12 col-sm-6 col-md-4">


                <div class="card advantage-card h-100 border-0 shadow rounded-4 p-4">


                    <div class="card-body">


                        <i class="fa-solid fa-futbol"></i>


                        <h3 class="fw-bold mt-4">
                            Campi di qualità
                        </h3>


                        <p>
                            Strutture moderne e curate per ogni sfida.
                        </p>


                    </div>


                </div>


            </div>





            <!-- Tornei -->


            <div class="col-12 col-sm-6 col-md-4">


                <div class="card advantage-card h-100 border-0 shadow rounded-4 p-4">


                    <div class="card-body">


                        <i class="fa-solid fa-trophy"></i>


                        <h3 class="fw-bold mt-4">
                            Tornei ed eventi
                        </h3>


                        <p>
                            Vivi la competizione insieme alla tua squadra.
                        </p>


                    </div>


                </div>


            </div>



        </div>


    </div>


</section>