.why-kickoff{

    background:white;

}



.why-kickoff h2{

    color:#14532D;

}



.advantage-card{

    background:#f8f9fa;

    transition:.3s ease;

}



.advantage-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 30px rgba(0,0,0,0.15)!important;

}



.advantage-card i{

    font-size:45px;

    color:#22c55e;

}



.advantage-card h3{

    color:#14532D;

    font-size:24px;

}



.advantage-card p{

    color:#555;

    line-height:1.6;

}