<section class="hero" id="home">

    <div class="container">

        <div class="hero-content text-center text-white">

            <h1 class="display-1 fw-bold">
                Ogni partita
                <br>
                inizia da qui.
            </h1>


            <p class="lead">
                Il tuo campo. La tua squadra. La tua passione.
            </p>


            <a 
            href="#booking"
            class="btn btn-success btn-lg rounded-pill px-5 mt-4 fw-bold">

                Prenota ora

            </a>


        </div>

    </div>

</section>