<section class="video-section">

<video
    #videoPlayer
    autoplay
    muted
    loop
    playsinline>

    <source
        src="assets/partita.mp4"
        type="video/mp4">

</video>

    <div class="overlay"></div>



    <div class="container">

        <div class="video-content text-center text-white">


            <h2 class="display-3 fw-bold text-uppercase">
                Vivi la partita
            </h2>



            <p class="lead mb-4">

                Ogni sfida inizia sul nostro campo.

            </p>



            <a 
            href="#"
            class="btn btn-success btn-lg rounded-pill px-5 fw-bold">

                Scopri di più

            </a>


        </div>

    </div>


</section>