<section class="contact py-5" id="contact">


    <div class="container">


        <div class="row g-5 align-items-center">



            <!-- INFO CONTATTI -->

            <div class="col-lg-7">


                <h2 class="display-5 fw-bold mb-3 contact-title">

                    Contatti

                </h2>



                <p class="lead text-secondary mb-5">

                    Hai bisogno di informazioni?
                    <br>
                    Contattaci e prenota il tuo campo.

                </p>




                <div class="row g-4">



                    <div class="col-md-4">


                        <div class="contact-card h-100">


                            <i class="fa-solid fa-location-dot"></i>


                            <h3>
                                Dove siamo
                            </h3>


                            <p>
                                Atripalda, Avellino
                            </p>


                        </div>


                    </div>





                    <div class="col-md-4">


                        <div class="contact-card h-100">


                            <i class="fa-solid fa-phone"></i>


                            <h3>
                                Telefono
                            </h3>


                            <p>
                                +39 333 1234567
                            </p>


                        </div>


                    </div>





                    <div class="col-md-4">


                        <div class="contact-card h-100">


                            <i class="fa-solid fa-clock"></i>


                            <h3>
                                Orari
                            </h3>


                            <p>
                                Lun - Dom
                                <br>
                                16:00 - 24:00
                            </p>


                        </div>


                    </div>


                </div>


            </div>






            <!-- FORM -->


            <div class="col-lg-5">


                <div class="contact-form">


                    <h3>
                        Scrivici
                    </h3>



                    <form>


                        <input
                        type="text"
                        class="form-control"
                        placeholder="Nome">



                        <input
                        type="email"
                        class="form-control"
                        placeholder="Email">



                        <input
                        type="text"
                        class="form-control"
                        placeholder="Telefono">



                        <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Scrivi un messaggio..."></textarea>



                        <button
                        class="btn btn-success rounded-pill px-5 fw-bold">

                            Invia messaggio

                        </button>


                    </form>


                </div>


            </div>



        </div>


    </div>


</section>