spring.application.name=football-booking

spring.datasource.url=jdbc:postgresql://localhost:5432/YOUR_DATABASE
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=${DB_PASSWORD}

spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=false

spring.sql.init.mode=always
spring.jpa.defer-datasource-initialization=true

jwt.secret=YOUR_JWT_SECRET
jwt.expiration=3600000