<footer class="footer py-5">


    <div class="container">


        <div class="row g-5">



            <!-- LOGO -->

            <div class="col-lg-5">


                <div class="footer-logo">


                    <img 
                    src="assets/logo.png"
                    alt="Logo KickOff">


                    <p>
                        Il tuo campo.
                        <br>
                        La tua partita.
                        <br>
                        La tua passione.
                    </p>


                </div>


            </div>






            <!-- LINK -->

            <div class="col-lg-3">


                <h3>
                    Link utili
                </h3>



                <ul class="footer-links">


                    <li>
                        <a href="#home">
                            Home
                        </a>
                    </li>


                    <li>
                        <a href="#services">
                            Campi
                        </a>
                    </li>


                    <li>
                        <a href="#booking">
                            Prenota
                        </a>
                    </li>


                    <li>
                        <a href="#contact">
                            Contatti
                        </a>
                    </li>


                </ul>


            </div>






            <!-- SOCIAL -->


            <div class="col-lg-4">


                <h3>
                    Seguici
                </h3>



                <div class="footer-icons">


                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>


                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>


                    <a href="#">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>


                </div>


            </div>



        </div>





        <div class="copyright text-center">


            <p>
                © 2026 KickOff - Tutti i diritti riservati
            </p>


        </div>



    </div>


</footer>